html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  text-align: center;
  font-family: 'Viga', sans-serif;
  background-image: url('/src/assets/GreenCity.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: bottom;
  background-color: rgb(247,246,226);
  background-attachment: fixed;
  display: table-cell;
}

div.card {
  width: 350px;
  display: flex;
  align-items: left;
  margin: 15px;
  padding: 10px;
}

div.card:hover {
  box-shadow: 2px 4px rgb(172,200,141);
  
}

.footprints {
  display: flex;
  flex-flow: wrap;
}
