nav {
  width: 100%;
  position: fixed;
}

.navbar-custom {
  background-color: rgb(104,160,53);
}

.navbar-toggler  {
  margin-right: 20px;
  background-color: rgb(117, 176, 63);
  border: 1px solid rgb(247,246,226);
}

.navbar-toggler:hover {
  margin-right: 20px;
  background-color: rgb(172,200,141);
}

.navbar-brand {
  margin: 0;
  margin-left: 20px;
}

.container-fluid {
  display: flex;
  justify-content: right;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(172,200,141);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0;
}