nav {
  width: 100%;
  position: fixed;
}

.navbar-custom {
  background-color: rgb(104,160,53);
}

.navbar-toggler  {
  margin-right: 20px;
  background-color: rgb(117, 176, 63);
  border: 1px solid rgb(247,246,226);
}

.navbar-toggler:hover {
  margin-right: 20px;
  background-color: rgb(172,200,141);
}

.navbar-brand {
  margin-left: 20px;
}