.profilecard-footprints {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.profilecard {
  width: 150px;
}

.total {
  width: 150px;
  font-size: 16px;
}

.average {
  margin: 5px;
  width: 180px;
  font-size: 16px;
}

button {
  margin: 5px;
}